@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    margin: 0;
    padding: 0;
}

.ReactCrop__crop-selection {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
  }

  .ReactCrop__image-copy {
    filter: brightness(50%);
  }